@media screen and (min-width: 900px) {
  .savePreview {
    min-width: 500px;
  }
}
.saveShow {
  flex-shrink: 1;
  border: 1px solid var(--darkMedium);
  padding: 5px;
  border-radius: 9px;
  display: flex;
  width: 40vw;
  height: 60vh;
}

.saveShow img {
  width: 100%;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 100%;
}

.saveBottom {
  display: flex;
  gap: 10px;
  box-shadow: inset 0 10px 10px -5px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.saveLeftSide {
  flex-grow: 1;
  flex-shrink: 1;
}

.savePreview form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  height: 100%;
}

.savePreview form label {
  text-align: left;
}

.savePreview form button {
  margin-top: auto;
  height: unset;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .savePreview {
    width: 100%;
  }
  .saveBottom {
    flex-direction: column;
  }
  .saveShow {
    width: unset;
    height: 30vh;
  }
  .savePreview form {
    width: 100%;
  }
}