@media screen and (min-width: 900px) {
  .savePreview {
    min-width: 500px;
  }
}
.saveShow {
  flex-shrink: 1;
  border: 1px solid #777;
  padding: 5px;
  border-radius: 9px;
  display: flex;
  width: 40vw;
  height: 60vh;
  background-color: #252525;
}
.saveShow .imgContainer {
  width: auto;
  height: auto;
  width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.saveShow .imgContainer img {
  max-width: 100%;
  max-height: 100%;
  image-rendering: pixelated;
}

.saveBottom {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.saveLeftSide {
  flex-grow: 1;
  flex-shrink: 1;
}

.savePreview form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  height: 100%;
}

.savePreview form label {
  text-align: left;
}

.savePreview form button {
  margin-top: auto;
  height: unset;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .savePreview {
    max-width: unset;
    max-height: unset;
    border-radius: 0;
    width: 100%;
    height: var(--mobileHeight);
  }
  .saveBottom {
    flex-direction: column;
  }
  .saveShow {
    width: unset;
    height: unset;
    min-height: 50px;
    max-height: 50vh;
    border: none;
  }
  .savePreview form {
    width: 100%;
  }
  .prompt {
    box-shadow: 1px 1px 10px 5px black;
    overflow-y: auto;
  }
  .prompt button.btn {
    width: 100%;
    margin-top: 30px;
    border: 1px solid #777;
  }
}